*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Ubuntu, Cantarell, "Fira Sans", sans-serif;
}
#main {
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
@media only screen and (min-width: 500px) {
    #page{
        width: 100vw;
    }
}
#page{
    min-height: 100vh;
    width: 100vw;
    background-color: #1F1F1F;
}
#nav{
    display: flex;
    justify-content: space-between;
}
#flag{
    width:20px ;
    height:20px ;
    margin-top: 3vh !important;
    margin-right: 7vw;
}
#ssd{
    display: flex;
    align-items: center;
}
#dot{

    height: 25px;
    width: 30px;
    margin-top: 3vh ;
    margin-right: 2vw;

}
#circle{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
#circle img{
    width: 13%;
    margin:0 13vw;
    margin-bottom: 1vh;
    
}
#circle h3{
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-weight: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Ubuntu, Cantarell, "Fira Sans", sans-serif;
    position: relative;
    text-align: center;

}
#arrow{
    width: 5.5%;
    margin-top: 3vh;
    margin-left: 2vh;
}
#rupa{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:2vh ;
    
}
#rupa h1{

    color: white;
    font-weight: 400;
    font-size: 45px;
    
}
#rupa h3{
    font-size: 30px !important;
    font-weight: 400 !important;
    color: white;
}
#clickme{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
}
#jaypee{
    font-size: 15px !important;
    font-weight: 500 !important;
}

#pay{
    height: 4.5vh;
    width: 30vw;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    color: #082963;
    font-weight: 500;
    background-color: #A9C7FB;
    margin-right: 3vw;
    
}
#split{
    height: 4.5vh;
    width: 40vw;
   
    border-radius: 25px;
    border: none;
    font-size: 14px;
    color: #A9C7FB;
    font-weight: 500;
    background-color: #1F1F20;
    border: 2px solid #767676;

}
#datebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#line{
    height: 1.7px;
    width: 60vw;
    background-color: #343434;
}
#datebox h3 {
    font-weight: 400;
    font-size: 15px;
    

    color: white;
    
}
#c{

    margin-top: 3vh;
    margin-bottom: 1vh;
}
#d
{
    margin-top: 1vw;
    margin-bottom: 0.5vw;

}
#cum{
    display: flex;
}
#cum img{
    margin-top: 3vh;
    margin-right: 7px;
    width:13px;
    height:13px;
}
#payment{
    margin-top: 3vh;
    height: 33vh ;
    height:36vh;
    width: 90vw;
    border-radius:  18px;
    border: 2px solid #343434;
    padding-top: 2vh;
    

}

#bankname{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

#bankname h3{
    
    font-size:17px !important;
    font-weight: 500 !important;
    line-height: 20px;
    margin-left: 4cqw;
    
}
#arrowdown{
    border-style: none;
    width: 3%;
    margin-right: 4vh;
    
}
#line2{

    height: 1.8px;
    width: 90vw;
    background-color:#343434 ;
    
}
#line3{
    
    height: 1.8px;
    width: 90vw;
    background-color:#343434 ;
    margin-top: 2vh;
    
    
    

}
#mainbox{
    display: flex;
    visibility:hidden ;
    
}
#div{
    height: 16vh;
    width: 5vw;
    background-color:transparent;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
    margin-left: 2vw;
}
#div2{
    height: 15.5vh;
    width: 60vw;
    background-color: transparent;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2vw 1vw;
    color: white;
    margin-left: 3vw;
  
}
#div2 h2{
    font-size: 12px;
    font-weight: 500;
}
  .circle img{
    width: 95%;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 0.1vw;
}
.line{
    height: 100vh;
    
    background-color: transparent;

    border: 1px solid #767676;
    border-style:dashed;
    margin-bottom: 5px;



}

#bankifo{
    padding-top: 1.5vh;
    padding-left: 4vw;
}
#uco{
    
    margin-left: 100vw;

}
#uco{
    width: 15%;
    margin-left: 5vw;
    border-radius: 5px;
    border: 2px solid #494747;
}
#up{
    line-height: 2.5vh;
  

}
#up h2{
    font-weight: 500 !important;
    color: white;
    font-size: .8rem !important;
    
    
}
#up h3{
    font-weight: 400;
    font-size: 0.7rem !important;
}
#up-next{
    margin-top: 2vw;
    line-height: 2.5vh;
   

}
#up-next h2{
    font-weight: 500;
    color: white;
    font-size: .8rem !important;
}
#up-next h3{
    font-weight: 400;
    font-size: 0.7rem !important;

}

#mid{
    margin-top: 2vh;
    line-height: 2.5vh;
   

}
#mid h2{
    font-weight: 600 !important;
    color: white;
    font-size: .8rem !important;
}
#mid h3{
    font-weight: 400;
    font-size: 0.7rem !important;

    
}
#low{
    margin-top: 2vw;
    line-height: 2.5vh;
    font-size: 14px;

}
#low h2{
    font-weight: 600 !important;
    color: white;
    font-size: .8rem !important;
}
#low h3{
    font-weight: 300;
    font-size: 14px;


}
#upi{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8.5vh;
    margin-top: 3vh !important;
}
#upi h3{
    font-weight: 500;
    color: #706C69;
}
#upi img {
    width: 12%!important; 
  
}

@media only screen and (min-width: 375px) {


   

    .se-font h2,h3{
        font-size: 11px !important;
    }

    #upi{
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        margin-top: 13px;
    }

    #upi img{
        width:7%;
    }
}
.date{
    padding-top: 8px;
    display: flex;
    font-size: 11px;
    color: white;
}

.monthdate{
    font-size:10px ;
}
#month1{
    padding-right: 0;
}
#timmer{
    font-size: 4px;
}

#timmer span{
    font-size: 11px;
}
#i{
    padding-right: 5px;
}
#yan{
    padding-right:5px ;
}
#pm{
    margin-left: 5px;
}

.number{
    text-decoration: none;
}
#q{
    display: flex;
    align-items: center;
}
#bankname{
    
    margin-bottom: 0;
}